<!DOCTYPE html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
     <div class="container-narrow">
       <div class="masthead">
         <ul class="nav nav-pills pull-right">
         </ul>
       </div>
     </div>
  </body>
</html>
